<a href="https://colab.research.google.com/github/KomalMano/Story/blob/master/10_Matrix_Basics_Deep_Learning(Tensorflow_Tutorial%2C_Keras_%26_Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
#numpy is used to matrix multiplication

In [3]:
revenue = np.array([[180,200,220],[24,36,40],[12,18,20]])
expenses = np.array([[80,90,100],[10,16,20],[8,10,10]])

In [5]:
#simple subtraction ,this is the power of numpy
profit = revenue - expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

In [6]:
#if u want to same thing for the unit sold eg
price_per_unit = np.array([1000,400,1200])
units = np.array([[30,40,50],[5,10,15],[2,5,7]])

In [7]:
price_per_unit*units
#this process is called broadcasting numpy

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

In [10]:
#but we need to get the dot product
np.dot(price_per_unit,units)
#this is the total sale
#matrix is just a rows and column . Not a rocket science.

array([34400, 50000, 64400])

**Eg 1**

In [12]:
revenue = np.array([[200,220,250],[68,79,105],[110,140,180],[80,85,90]])
rupees = np.array([75])

In [13]:
revenue*rupees

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250, 10500, 13500],
       [ 6000,  6375,  6750]])

**Eg#2**

In [14]:
unit_sold = np.array([[50,60,25],[10,13,5],[40,70,52]])
price_per_unit_sold = np.array([20,30,15])

In [15]:
np.dot(unit_sold,price_per_unit_sold)

array([3175,  665, 3680])