<a href="https://colab.research.google.com/github/KomalMano/Story/blob/master/17_L1_and_L2_Regularization_Lasso%2C_Ridge_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from google.colab import files
import io

In [2]:
uploaded = files.upload()

Saving 17.L1 and L2 Regularization_Lasso, Ridge Regression.csv to 17.L1 and L2 Regularization_Lasso, Ridge Regression.csv

In [3]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "17.L1 and L2 Regularization_Lasso, Ridge Regression.csv" with length 5009370 bytes

In [4]:
dataset = pd.read_csv(io.StringIO(uploaded['17.L1 and L2 Regularization_Lasso, Ridge Regression.csv'].decode('utf-8')))
dataset.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [6]:
import warnings

In [7]:
warnings.filterwarnings('ignore')

In [8]:
dataset.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [10]:
dataset.shape

(34857, 21)

In [11]:
#Now i m going to discard certain columns
cols_to_use = ['Suburb','Rooms','Type','Method','SellerG','Regionname','Propertycount',
               'Distance','CouncilArea','Bedroom2','Bathroom','Car','Landsize','BuildingArea','Price']
dataset = dataset[cols_to_use]
dataset.head()

       Suburb  Rooms Type Method  ...  Car Landsize  BuildingArea      Price
0  Abbotsford      2    h     SS  ...  1.0    126.0           NaN        NaN
1  Abbotsford      2    h      S  ...  1.0    202.0           NaN  1480000.0
2  Abbotsford      2    h      S  ...  0.0    156.0          79.0  1035000.0
3  Abbotsford      3    u     VB  ...  1.0      0.0           NaN        NaN
4  Abbotsford      3    h     SP  ...  0.0    134.0         150.0  1465000.0

[5 rows x 15 columns]

In [12]:
dataset.shape

(34857, 15)

In [13]:
#Now i want to check my NA values
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [15]:
#Now handle these NA rows . 
#I m going to fill sum of these columns with values zero
cols_to_fill_zero = ['Propertycount','Distance','Bedroom2','Bathroom','Car']
dataset[cols_to_fill_zero]=dataset[cols_to_fill_zero].fillna(0)
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [16]:
dataset['Landsize']=dataset['Landsize'].fillna(dataset.Landsize.mean())
dataset['BuildingArea']=dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())

In [17]:
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [18]:
#Now i will drop those values 
dataset.dropna(inplace=True)
dataset.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [21]:
dataset = pd.get_dummies(dataset, drop_first=True)
dataset.head()

   Rooms  ...  CouncilArea_Yarra Ranges Shire Council
1      2  ...                                       0
2      2  ...                                       0
4      3  ...                                       0
5      3  ...                                       0
6      4  ...                                       0

[5 rows x 745 columns]

In [22]:
X = dataset.drop('Price',axis=1)
y = dataset['Price']

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=2)

In [31]:
len(X)

27244

In [32]:
len(X_train)

19070

In [33]:
len(X_test)

8174

In [34]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [35]:
reg.score(X_test,y_test)

0.13853683161569574

In [37]:
reg.score(X_train,y_train)

0.6827792395792723

In [40]:
#score error is too much low 
#So how do u address this ? 
#So sklearn provide a model called lasso. So Lasso Regression is basically L1 regularization
#So i m going to use that model
from sklearn import linear_model

lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
#alpha value is the variable to place random value and play with it and see accuracy
lasso_reg.fit(X_train,y_train)

Lasso(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.1, warm_start=False)

In [42]:
lasso_reg.score(X_test,y_test)
#U see that the accuracy improved

0.6636111369404489

In [43]:
lasso_reg.score(X_train,y_train)

0.6766985624766824

In [44]:
#L2 regulariztion is called ridge regression
from sklearn.linear_model import Ridge

ridge_reg=Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_reg.fit(train_X,train_y)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      random_state=None, solver='auto', tol=0.1)

In [45]:
ridge_reg.score(test_X,test_y)

0.6670848945194958

In [46]:
ridge_reg.score(X_train,y_train)

0.6622376739684328

In [ ]:
#L1 and L2 ur accuracy for not seen data samples which is ur test samples will improve whole alot