<a href="https://colab.research.google.com/github/KomalMano/Story/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import files
import io

In [2]:
uploaded = files.upload()

Saving weather_data.csv to weather_data.csv

In [3]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "weather_data.csv" with length 148 bytes

In [4]:
uploaded

{'weather_data.csv': b'day,temp,windspeed,event\r\n1/1/2017,32,6,Rain\r\n1/2/2017,35,7,Sunny\r\n1/3/2017,28,2,Snow\r\n1/4/2017,24,7,Snow\r\n1/5/2017,32,4,Rain\r\n1/6/2017,32,2,Sunny\r\n'}

In [5]:
df = pd.read_csv(io.StringIO(uploaded['weather_data.csv'].decode('utf-8')))

In [6]:
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow
3  1/4/2017    24          7   Snow
4  1/5/2017    32          4   Rain
5  1/6/2017    32          2  Sunny

In [7]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temp': [32,35,28,24,32,32],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df=pd.DataFrame(weather_data)
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow
3  1/4/2017    24          7   Snow
4  1/5/2017    32          4   Rain
5  1/6/2017    32          2  Sunny

In [8]:
df.shape#shape means dimentions #ans is a tuple

(6, 4)

In [9]:
rows, col= df.shape#when u save it in rows and col

In [10]:
rows , col

(6, 4)

In [11]:
df.head(2)

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny

In [12]:
df.tail(1)

        day  temp  windspeed  event
5  1/6/2017    32          2  Sunny

In [13]:
df[2:5]#data slicing

        day  temp  windspeed event
2  1/3/2017    28          2  Snow
3  1/4/2017    24          7  Snow
4  1/5/2017    32          4  Rain

In [14]:
df[:]#if u print all of these

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow
3  1/4/2017    24          7   Snow
4  1/5/2017    32          4   Rain
5  1/6/2017    32          2  Sunny

In [15]:
df.columns #if we want to print col

Index(['day', 'temp', 'windspeed', 'event'], dtype='object')

In [16]:
df.day #print individual col content

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [17]:
type(df['event'])#this is just reference information

pandas.core.series.Series

In [18]:
df #print df will show entire table or dataframe

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow
3  1/4/2017    24          7   Snow
4  1/5/2017    32          4   Rain
5  1/6/2017    32          2  Sunny

In [19]:
df[['event','day']] # for restricting columns so use this

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [20]:
df['temp'].max()

35

In [21]:
df['temp'].mean() #mean is avrg

30.5

In [22]:
df['temp'].min()

24

In [23]:
df['temp'].std() #std means standard deviation

3.8858718455450894

In [24]:
df.describe() #print statistics of 2 col

            temp  windspeed
count   6.000000   6.000000
mean   30.500000   4.666667
std     3.885872   2.338090
min    24.000000   2.000000
25%    29.000000   2.500000
50%    32.000000   5.000000
75%    32.000000   6.750000
max    35.000000   7.000000

In [26]:
df[df.temp>=32] #get temp row max

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
4  1/5/2017    32          4   Rain
5  1/6/2017    32          2  Sunny

In [29]:
df[df.temp==df.temp.max()] #both are same df[df.temp==df.['temp'].max()]
#and 2nd method use for the space text

        day  temp  windspeed  event
1  1/2/2017    35          7  Sunny

In [30]:
df['day'][df.temp==df.temp.max()]

1    1/2/2017
Name: day, dtype: object

In [31]:
df[['day','temp']][df.temp==df.temp.max()] #i want to get both of it

        day  temp
1  1/2/2017    35

In [32]:
df.index #now working on index

RangeIndex(start=0, stop=6, step=1)

In [34]:
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow
3  1/4/2017    24          7   Snow
4  1/5/2017    32          4   Rain
5  1/6/2017    32          2  Sunny

In [35]:
df.set_index('day', inplace=True) #we want to chnage the index

In [36]:
df

          temp  windspeed  event
day
1/1/2017    32          6   Rain
1/2/2017    35          7  Sunny
1/3/2017    28          2   Snow
1/4/2017    24          7   Snow
1/5/2017    32          4   Rain
1/6/2017    32          2  Sunny

In [37]:
df.loc['1/3/2017']

temp           28
windspeed       2
event        Snow
Name: 1/3/2017, dtype: object

In [38]:
df.reset_index(inplace=True)
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow
3  1/4/2017    24          7   Snow
4  1/5/2017    32          4   Rain
5  1/6/2017    32          2  Sunny

In [39]:
df.set_index('event',inplace=True)
df

            day  temp  windspeed
event
Rain   1/1/2017    32          6
Sunny  1/2/2017    35          7
Snow   1/3/2017    28          2
Snow   1/4/2017    24          7
Rain   1/5/2017    32          4
Sunny  1/6/2017    32          2

In [40]:
df.loc['Snow']

            day  temp  windspeed
event
Snow   1/3/2017    28          2
Snow   1/4/2017    24          7