<a href="https://colab.research.google.com/github/KomalMano/Story/blob/master/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from google.colab import files
import io

In [12]:
uploaded = files.upload()

Saving weather_data_file.csv to weather_data_file (1).csv

In [13]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "weather_data_file.csv" with length 87 bytes

In [14]:
uploaded

{'weather_data_file.csv': b'day,temp,windspeed,event\r\n1/1/2017,32,6,Rain\r\n1/2/2017,35,7,Sunny\r\n1/3/2017,28,2,Snow\r\n'}

In [15]:
df = pd.read_csv(io.StringIO(uploaded['weather_data_file.csv'].decode('utf-8')))

In [16]:
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow

In [31]:
#3rd way use python Dictionary creating dataframe
weather_data_file = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017'],
    'temp' : [32,35,28],
    'windspeed' : [6,7,2],
    'event' : ['Rain','Sunny','Snow']
}
df = pd.DataFrame(weather_data_file)
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow

In [32]:
#4th way of creating a dataframe use a tuples list
weather_data_file = [
                     ('1/1/2017',32,6,'Rain'),
                     ('1/2/2017',35,7,'Sunny'),
                     ('1/3/2017',28,2,'Snow')
]
df=pd.DataFrame(weather_data_file,columns=["day","temp","windspeed","event"])
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow

In [34]:
#5th and last way of using dictionary list for creating dataframe
weather_data_file = [
    {'day':'1/1/2017','temp':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temp':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temp':28,'windspeed':2,'event':'Snow'}
]
df = pd.DataFrame(weather_data_file)
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   Snow